<% provide(:title, (t ".about_title")) %>
<h1>About</h1>
<p>
  The <%= link_to((t ".ruby_on"),"http://www.railstutorial.org/book")%> is a
  <%= link_to("book", "http://www.railstutorial.org/book") %> and
  <%= link_to("screencast series", "http://screencasts.railstutorial.org/")%> 
  to teach web development with
  <%= link_to((t ".ruby_on"),"http://www.railstutorial.org/book")%>
  This is the sample application for the tutorial.
</p>
