<footer class="footer">
  <small>
    The <%= link_to (t ".ruby_on"), Settings.railslink %>
    by <%= link_to (t ".michael"), Settings.michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
